/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/
nav{
    margin: 15px 25px;
}
nav ul li{
    list-style: none;
    display: inline-block;
    padding: 10px;
}
nav a{
    color: black;
    text-decoration: none;
}

header img {
    width: 210px;
    height: 50%;
    margin: 15px 25px;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: white;
}

.sectionOneBackground {
    background-image: url("../images/landing.jpg");
    background-size: cover;
    padding:250px;
    font-size: 2em;
    text-align: center;
    color: white;
}

.sectionOneBackground p{
    font-size: 0.75em;
    margin-top: 25px;
}


.orangeBox{
    display:flex;
    margin: 20px;
    justify-content: space-evenly;
}

.secondSection img{
     width: 80px;

}

.whatsOnSpotifyIcons{
    margin: 20px;
    width: 150px;
    text-align: center;
}
.whatsOnSpotifyIcons p{
    margin-top:10px;
}

h2{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    margin-top: 50px;
}
